<h1>EVA Air Status Match</h1>

<table >
  <tr>
    <th>Link</th>
  </tr>
  <tr>
  	<td><a href="http://www.evaair.com/en-us/infinity-mileagelands/membership-benefits/introduction/">EVA Air Infinity MileageLands</a></td>
  </tr>
  <tr>
  </tr>
  <tr>
    <th>Rating</th>
  </tr>
  <tr>
  	<td>4</td>
  </tr>
  <tr>
    <th>Members</th>
  </tr>
  <tr>
  	<td>EVA Air</td>
  </tr>
  <tr>
  	<td>UNI Air</td>
  </tr>

</table>

<br/>
<h4>Reports for getting status with the <%= @program.name%> program</h4>
<table class="table table-striped">
  <tr>
    <th>Submission Date</th>
    <th>From</th>
    <th>To</th>
    <th>Submitted By</th>
    <th>Result</th>
    <th>Rating</th>
  </tr>
  <tr>
  	<td>December 27, 2012</td>
  	<td>EVA Air Infinity MileageLands Gold</td>
  	<td>United Premier Gold</td>
  	<td>Eric Chang</td>
  	<td>Match</td>
  	<td>+1</td>
  </tr>

</table>
<h4>Reports for leveraging status with the <%= @program.name%> program</h4>
<table class="table table-striped">
  <tr>
    <th>Submission Date</th>
    <th>From</th>
    <th>To</th>
    <th>Submitted By</th>
    <th>Result</th>
    <th>Rating</th>
  </tr>
  <tr>
  	<td>December 27, 2012</td>
  	<td>EVA Air Infinity MileageLands Gold</td>
  	<td>United Premier Gold</td>
  	<td>Eric Chang</td>
  	<td>Match</td>
  	<td>+1</td>
  </tr>

</table>

<br />
<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @program.name %>
</p>

<p>
  <b>Program:</b>
  <%= @program.program %>
</p>

<p>
  <b>Rating:</b>
  <%= @program.rating %>
</p>

<p>
  <b>Alliance:</b>
  <%= @program.alliance %>
</p>

<p>
  <b>Description:</b>
  <%= @program.description %>
</p>


<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %> -->
